@model WorkCreateDto

<section class="get-in-touch">
    <h5 class="title">Add Todo</h5>
    @using (Html.BeginForm("Create", "Todo", FormMethod.Post, new { @class = "contact-form row" }))
    {
        <div class="form-field col-lg-12">
            @Html.TextBoxFor(x => x.Title, new { @class = "input-text js-input", placeholder = "eg: Shopping", required = "required" })
            @Html.LabelFor(x => x.Title, "Title", new { @class = "label" })
        </div>
        <div class="form-field col-lg-12">
            @Html.TextBoxFor(x => x.Description, new { @class = "input-text js-input", placeholder = "eg: Enter a task here", required = "required" })
            @Html.LabelFor(x => x.Description, "Description", new { @class = "label" })
        </div>
        <div class="form-field form check">
            @Html.CheckBoxFor(x => x.IsCompleted, new { @class = "input-text js-input"})
            @Html.LabelFor(x => x.IsCompleted, "Completed", new { @class = "label" })
        </div>
        <div class="form-field col-lg-12">
            <button class="submit-btn" type="submit">Save</button>
        </div>
    }
</section>