@model List<WorkListDto>

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h4 class="text-center my-3 pb-3">To Do App</h4>
                        <div class="text-end my-2">
                            <a asp-action="Create" asp-controller="Todo" class="btn btn-primary btn-sm" >Add Task</a>
                        </div>
                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var todo in Model)
                                {
                                    <tr>
                                        <th scope="row">@todo.Title</th>
                                        <td>@todo.Description</td>
                                        <td>@(todo.IsCompleted ? "Done" : "Waiting")</td>
                                        <td>
                                            <a asp-action="Update" asp-controller="Todo" asp-route-id="@todo.Id" class="btn btn-warning btn-sm ms-1">Update</a>
                                            <a asp-action="Delete" asp-controller="Todo" asp-route-id="@todo.Id" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>